<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">START YOUR DAY WITH MOTIVATION</h1>
      <br>
      <h5 class="text-center">We’re happy to introduce the result of our hard work! You can select from thousands of podcasts of any genre. Try setting an alarm to wake you up in the morning. Maybe to the next episode in a gripping drama, or start learning early with experts in
        your field. Select the episode and set the time, after that its up to you.</h5>
    </div>
  </div>

  <br><br>

  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <i class="far fa-clock fa-3x text-info" aria-hidden="true"></i>
          <br><br>
          <div class="box-title">
            <h4>Your New Routine</h4>
          </div>
          <div class="box-text">
            <span>Wake up a little bit earlier and get in the next episode of your favourite podcast.</span>
          </div>
          <div class="box-btn">
            <!-- <a href="#" class="text-info">Learn More</a> -->
          </div>
        </div>
        <br><br>
      </div>

      <div class="col-lg-4 col-xs-12  text-center">
        <div class="box">
          <i class="fa fa-bed fa-3x text-info" aria-hidden="true"></i>
          <br><br>
          <div class="box-title">
            <h4>Wind Down</h4>
          </div>
          <div class="box-text">
            <span>Set an alarm in the evening to start your bedtime routine.</span>
          </div>
          <div class="box-btn">
            <!-- <a href="#" class="text-info">Learn More</a> -->
          </div>
        </div>
        <br><br>
      </div>

      <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <i class="fa fa-newspaper fa-3x text-info" aria-hidden="true"></i>
          <br><br>
          <div class="box-title">
            <h4>Learn something new</h4>
          </div>
          <div class="box-text">
            <span>Follow the saying "learn something new every day" and wake up to a Ted talk.</span>
          </div>
          <div class="box-btn">
            <!-- <a href="#" class="text-info">Learn More</a> -->
          </div>
        </div>
        <br><br>
      </div>


      <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <i class="fa fa-list-ol fa-3x text-info" aria-hidden="true"></i>
          <br><br>
          <div class="box-title">
            <h4>Queue</h4>
          </div>
          <div class="box-text">
            <span>Make a queue of episodes and have them play every day at 8am for a week.</span>
          </div>
          <div class="box-btn">
            <!-- <a href="#" class="text-info">Learn More</a> -->
          </div>
        </div>
        <br><br>
      </div>

      <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <i class="fa fa-map-marked-alt fa-3x text-info" aria-hidden="true"></i>
          <br><br>
          <div class="box-title">
            <h4>Discover</h4>
          </div>
          <div class="box-text">
            <span>Find great new daily podcasts to use in your next alarm.</span>
          </div>
          <div class="box-btn">
            <!-- <a href="#" class="text-info">Learn More</a> -->
          </div>
        </div>
        <br><br>
      </div>

      <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <i class="fa fa-volume-up fa-3x text-info" aria-hidden="true"></i>
          <br><br>
          <div class="box-title">
            <h4>Connect</h4>
          </div>
          <div class="box-text">
            <span>Coming Soon – Have the podcast play on your sound systems.</span>
          </div>
          <div class="box-btn">
            <!-- <a href="#" class="text-info">Learn More</a> -->
          </div>
        </div>
        <br><br>
      </div>

    </div>
  </div>
</div>
