<div class="container-fluid">
  <div class="row bg-Dark">
    <br><br><br>
    <div class="col-lg-1"></div>
    <div class="col-lg-4">

      <div class="card mb-3">
        <h3 class="card-header">Alarm Creation</h3>
        <div class="card-body">
          <h5 class="card-title">Way more than just the basics</h5>
          <h6 class="card-subtitle text-muted">Find out about the better way to wake up</h6>
        </div>

        <img src="/images/HoldingPodcastAlarm.jpg" height="100%" width="100%" alt="Woman holding phone with podcast alarm app" />

        <div class="card-body">
          <p class="card-text">Play alarms whenever! No need to keep the app open.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Set for weekdays or weekends or anthing inbetween.</li>
          <li class="list-group-item">Automatically download and play the latest episodes of a daily show.</li>
          <li class="list-group-item">Queue up a list of episodes and play a new one each day.</li>
        </ul>
        <div class="card-body">
          <!-- <a href="#" class="card-link text-info">Learn More</a> -->
        </div>
        <div class="card-footer text-muted text-center">
          <a target="\_blank" href="https://apps.apple.com/app/podcast-alarm/id1441890371"><img src="/images/apple.svg" alt="Download on the Apple App store" height="45"/></a>
        </div>
      </div>

    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-4">

      <div class="card mb-3">
        <h3 class="card-header">Podcast Discovery</h3>
        <div class="card-body">
          <h5 class="card-title">What would I even listen to?</h5>
          <h6 class="card-subtitle text-muted">What about, curated lists of awesome podcasts from online resources?</h6>
        </div>

        <img src="/images/HoldingPodcastAlarm2.jpg" height="100%" width="100%" alt="" />

        <div class="card-body">
          <p class="card-text">Find all the best Podcast Shows, by quickly seeing the ones recomended by the pros.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Search through episodes and shows directly for what you want.</li>
          <li class="list-group-item">Find a great daily show to listen and learn in the mornings.</li>
          <li class="list-group-item">Coming Soon - Suggestions based on what you love.</li>
        </ul>
        <div class="card-body">
          <!-- <a href="#" class="card-link text-info">Learn More</a> -->
        </div>
        <div class="card-footer text-muted text-center">
          <a target="\_blank" href="https://apps.apple.com/app/podcast-alarm/id1441890371"><img src="/images/apple.svg" alt="Download on the Apple App store" height="45"/></a>
        </div>
      </div>

    </div>
    <div class="col-lg-1"></div>
    <br>
  </div>
</div>
