<div class="container-fluid bg-info">
  <br>
  <div class="row">
    <div class="col-12 col-md-1"></div>

    <div class="col-12 col-md-2 d-none d-lg-block d-xl-none">
      <div class="form-inline ">
        <i class="fab fa-twitter fa-2x"></i>
        <label> <strong>@podcastAlarm</strong></label>
      </div>
    </div>

    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-6">
      <!-- Begin Mailchimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="https://app.us9.list-manage.com/subscribe/post?u=6411a4819178dbb20b42d5339&amp;id=a2d15f45e6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll" class="form-group form-inline">
            <label for="mce-EMAIL" class="font-weight-bold" style="color: black;">Sign up if you want news and updates </label>
            <input type="email" value="" name="EMAIL" class="form-control form-control-md" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6411a4819178dbb20b42d5339_a2d15f45e6" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-md"></div>
          </div>
        </form>
      </div>
    </div>
    <!--End mc_embed_signup-->
    <div class="col-12 col-md-1"></div>
  </div>
  <br>
</div>
