<div class=" bg-secondary">
  <br>
  <br>
</div>

<div class="container-fluid" height="200">
  <div class="row bgimgtweet">
    <div class="col-4 col-sm-0"></div>
    <div class="col-12 col-sm-12">
      <br>
      <br>
        <video playsinline autoplay loop muted preload class="videoDemo">
          <source src="/images/SideBySideDemoPodcastAlarm.mp4" type="video/mp4">
          <source src="/images/SideBySideDemoPodcastAlarm.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
        <br>
        <br>
    </div>
    <div class="col-4 col-sm-0"></div>
  </div>
</div>

<div class=" bg-secondary">
  <br>
  <br>
</div>
