<div class=" bg-secondary">
  <br>
  <br>
</div>

<div class="container-fluid">
  <div class="row bgimgtweet">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <br>
      <blockquote class="twitter-tweet">
        <p lang="en" dir="ltr">Podcast Alarm is released! You can download it now from the iOS App Store:
          <a href="https://t.co/5KglzgoMk6">https://t.co/5KglzgoMk6</a>
          <a href="https://t.co/8Kl4rQIzpT">pic.twitter.com/8Kl4rQIzpT</a>
        </p>&mdash; Podcast Alarm (@PodcastAlarm)
        <a href="https://twitter.com/PodcastAlarm/status/1179393599487844353?ref_src=twsrc%5Etfw">October 2, 2019</a>
      </blockquote>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-5 d-none d-md-block">
      <br><br><br><br><br>
      <h1 class=".d-none .d-xl-block">Learn something new every morning!</h1>
    </div>
  </div>
</div>

<div class=" bg-secondary">
  <br>
  <br>
</div>
