<br><br>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-7">
      <h1>The podcast player that lets you wake up inspired</h1>
      <br><br>
      <h3>
        Download and create a list of your favourite podcasts. There are thousands to choose from, you can <b>wake up to any topic imaginable.</b> Then, either play now or set a time in the future to hear that episode.
      </h3>

      <br><br><br><br>
      <div class="text-center">
        <!-- <a href="https://apps.apple.com/app/podcast-alarm/id1441890371"><img src="/images/AppStoreButton.png" height="45"/></a> -->
        <a href="https://www.producthunt.com/posts/podcast-alarm?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-podcast-alarm" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=170570&theme=dark" alt="Podcast Alarm - Wake up inspired | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a>
      </div>
      <br><br><br><br>
    </div>

    <div class="col-12 col-md-5 text-center">
        <video autoplay height="650" loop muted preload id="video1">
          <source src="/images/PodcastAlarmDemo.mp4" type="video/mp4">
          <source src="/images/PodcastAlarmDemo.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
    </div>
  </div>
</div>

<script>
    document.getElementById('video1').play();
</script>
