<!doctype html>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WMTB792');
  </script>
  <!-- End Google Tag Manager -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131168990-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-131168990-1');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Podcast Alarm</title>
  <meta name="title" content="Podcast Alarm">
  <meta name="description" content="Alarm clock app that plays podcast episodes whenever you want. You can even wake up to the latest episode each day. Full featured podcast player too, no need to have more than one app.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.podcastalarm.app/">
  <meta property="og:title" content="Podcast Alarm">
  <meta property="og:description" content="Alarm clock app that plays podcast episodes whenever you want. You can even wake up to the latest episode each day. Full featured podcast player too, no need to have more than one app.">
  <meta property="og:image" content="/images/SitePreview.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.podcastalarm.app/">
  <meta property="twitter:title" content="Podcast Alarm">
  <meta property="twitter:description" content="Alarm clock app that plays podcast episodes whenever you want. You can even wake up to the latest episode each day. Full featured podcast player too, no need to have more than one app.">
  <meta property="twitter:image" content="/images/SitePreview.png">

  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/images/favicon.ico">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMTB792"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/blog/">Blog</a>
        </li>
      </ul>
    </div>
    <div class="mx-auto order-0">
      <a href="/"><img src="/images/PodcastAlarmLogo.png" alt="Podcast Alarms logo, the podcast icon with two bells on top to look like an alarm" width="45" height="45" class="rounded" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="https://apps.apple.com/app/podcast-alarm/id1441890371"><img src="/images/apple.svg" alt="Download on the Apple App store" height="45"/></a>
        </li>
      </ul>
    </div>
  </nav>

  {{ content }}

  <footer class="page-footer font-small stylish-color-dark pt-4">

    <div class="container-fluid bg-info">
      <div class="row">
        <br/>
        <br/>
      </div>
    </div>
    <br>

    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Subscribe to our free newsletter</h5>
      </li>
      <li class="list-inline-item">
        <form action="https://app.us9.list-manage.com/subscribe/post?u=6411a4819178dbb20b42d5339&amp;id=a2d15f45e6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" class="form-control form-control-md" id="mce-EMAIL" placeholder="Email" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6411a4819178dbb20b42d5339_a2d15f45e6" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-md"></div>
        </form>
      </li>
    </ul>
    <hr>

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      <div class="row">

        <div class="col-md-4 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Podcast Alarm</h5>
          <p>Replace your alarm clock with a podcast alarm, and wake up listening to what you want.</p>
        </div>

        <hr class="clearfix w-100 d-md-none">

        <div class="col-md-2 mx-auto">
          <br>
          <ul class="list-unstyled">
            <li>
              <a href="/termsconditions/" class="text-info">Terms and Conditions</a>
            </li>
            <li>
              <a href="/privacy-policy/" class="text-info">Privacy Policy</a>
            </li>
            <li>
              <a href="/images/PressKit.pdf" class="text-info">Press Kit</a>
            </li>
            <li>
              <a href="https://app.us9.list-manage.com/subscribe/post?u=6411a4819178dbb20b42d5339&amp;id=a2d15f45e6" class="text-info">Android</a>
            </li>
          </ul>
        </div>

        <hr class="clearfix w-100 d-md-none">

        <div class="col-md-2 mx-auto">
          <br>
          <ul class="list-unstyled">
            <li>
              <a target="_blank" rel="noreferrer" href="https://twitter.com/PodcastAlarm" class="text-info">Twitter</a>
            </li>
            <li>
              <a target="_blank" rel="noreferrer" href="https://www.facebook.com/podcastalarm/" class="text-info">Facebook</a>
            </li>
            <li>
              <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/company/podcastalarm/" class="text-info">Linkedin</a>
            </li>
            <li>
              <a class="text-info" href="/blog/">Blog</a>
            </li>
          </ul>
        </div>

        <hr class="clearfix w-100 d-md-none">

        <div class="col-md-2 mx-auto">
          <br><br>
          <a href="https://apps.apple.com/app/podcast-alarm/id1441890371"><img src="/images/apple.svg" alt="Download on the Apple App store" height="45"/></a>
        </div>

      </div>
      <br>
      <br>
    </div>
  </footer>

</body>

</html>
