<!doctype html>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PM2PT82');</script> -->
  <!-- End Google Tag Manager -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166193655-1"></script> -->
  <script>
    // window.dataLayer = window.dataLayer || [];
    // function gtag(){dataLayer.push(arguments);}
    // gtag('js', new Date());
    //
    // gtag('config', 'UA-166193655-1');
  </script>

  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/6411a4819178dbb20b42d5339/ec18320215ff552fded62a00c.js");</script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Salee - Property Portal</title>
  <meta name="title" content="Salee">
  <meta name="description" content="Register now to have your properties automatically listed on the next big portal, all leads
  are directed back to your website.">

  <!-- Open Graph / Facebook -->
  <!-- <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.salee.io/">
  <meta property="og:title" content="Restaurant Tech Guide">
  <meta property="og:description" content="Finding the latest technology trends in the restaurant industry. Tips, tricks, recommendations and guides to using technology to make your restaurant excel.">
  <meta property="og:image" content="/images/SitePreview.png"> -->

  <!-- Twitter -->
  <!-- <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.RestaurantTechGuide.com/">
  <meta property="twitter:title" content="Restaurant Tech Guide">
  <meta property="twitter:description" content="Finding the latest technology trends in the restaurant industry. Tips, tricks, recommendations and guides to using technology to make your restaurant excel.">
  <meta property="twitter:image" content="/images/SitePreview.png">

  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/images/favicon.ico"> -->

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="/css/fontawesome/css/all.css" rel="stylesheet">
</head>

<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PM2PT82"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="container-fluid banner">
    <h5>iOS Beta now within Northern Ireland</h5>
  </div>


  {{ content }}


  <footer class="page-footer font-small stylish-color-dark pt-4">
    <hr>
  </footer>

</body>

</html>
