---
layout: default
---

<div class="container">
  <br>
  <img src="{{ page.featured-image }}" class="post-img" alt="...">
<br>
<br>
  <div class="row">
    <div class="col-sm-10">
      <h1 class="post-title">{{ page.title }}</h1>
      <h6 class="card-tag">{{ page.categories }}</h6>

      <br> {{ content }}
    </div>

    <div class="col-sm-2 text-center">
      <img src="{{ page.authorImage }}" alt="{{ page.author }}" class="rounded-circle" width="90">

      <br><br>
      <p class="font-weight-light authorText">by {{ page.author }}</p>
      <p class="font-weight-light authorText">{{ page.date | date: '%B %d, %Y' }}</p>

      <br>

    </div>
  </div>

<br>
<hr>
  <div class="row">
  {% for post in site.posts offset:1 limit:3 %}
    <div class="col-sm d-flex align-items-stretch">
      {% include blogPostItem.html %}
    </div>
  {% endfor %}
  </div>
</div>
